{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль пользователя</title>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>
<body>
    <div class="content-card profile-card">

        <div class="back-to-menu">
            <a href="{% url 'event_list' %}" class="back-btn">
                <i class="fas fa-arrow-left"></i> Back to main menu
            </a>
        </div>

        <div class="profile-header">
            <img src="avatar.jpg" class="avatar">

            <div class="profile-info">
                <h2 class="nickname">{{ user.username }}</h2>
                <p class="creation-date">Creation date: {{ user.date_joined|date:"d.m.Y" }}</p>

                <div class="delete_account">

                <form action="{% url 'delete_account' %}" method="POST" onsubmit="return confirm('Are you sure you want to delete your account? This action is irreversible');">
                    {% csrf_token %}
                    <button type="submit" style="background-color: #ff4d4d; color: white; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer;">
                  Delete account
                    </button>
                </form>

                    <form method="POST" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="logout-button">
                            Log out
                        </button>
                    </form>

                </div>
            </div>
        </div>

        <div class="events">
            <h3>Events</h3>
            <ul class="event-list">
                <li class="event-item">
                    <a href="#">Event 1</a>
                    <div class="event-meta">10.02.2026</div>
                </li>
                <li class="event-item">
                    <a href="#">Event 2</a>
                    <div class="event-meta">15.03.2026</div>
                </li>
                <li class="event-item">
                    <a href="#">Event 3</a>
                    <div class="event-meta">20.04.2026</div>
                </li>
            </ul>
        </div>

    </div>
</body>
</html>
